{{ define "main"}}
<div id="archive">
  
  {{ if .Data.Singular }}
  <h3 style="margin-bottom:0">Filtering for "{{ .Title }}"</h3>
    <small>
        <a href="{{ "blog" | relURL }}">Remove filter</a>
    </small>
  {{ end }}
  
  <ul class="post-list">

  {{ $pages := .Paginator.Pages }}
  {{ if .Site.Params.showAllPostsArchive }}
    {{ $pages = .Pages }}
  {{ end }}

  {{ range (sort $pages "Date" "desc") }}
    {{ $pageYear := (.Date.Format "2006") }}
    {{ if (ne $pageYear ($.Scratch.Get "year")) }}
    {{ $.Scratch.Set "year" $pageYear }}
    <h2>{{ $pageYear }}</h2>
    {{ end }}
    <li class="post-item">
      <div class="meta">
        <time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format (.Site.Params.dateFormat | default "2006-01-02") }}</time>
      </div>
      <span>    
        <a class="" href="{{ .Permalink }}">{{ if .Title }} {{ .Title }} {{ else }} Untitled {{ end }}</a>
      </span>
    </li>
    {{ end }}
  </ul>
  {{ if eq .Site.Params.showAllPostsArchive false }}
    {{ partial "pagination.html" . }}
  {{ end }}
  {{ if .Data.Singular }}
  {{else}}
    <small>
      <div>
        {{ range .Site.Taxonomies.tags }}
        <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
        {{ end }}
      </div>
    </small>
    {{ end }}
</div>
{{ end }}